.sobre_nosotros__plataformas {
    display: flex;
    padding: 35px;
}

.sobre-nosotros {
    padding: 15px;

}

.sobre_nosotros__titulo {
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}

.texto {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    padding: 20px 0;

}

.texto2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #4F4C4C;
}
.raya {
    margin: 20px 0px
}



.iconos {
    padding-top: 30px;
}

.iconos img {
    margin: 0 40px;


}